*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/encodings.xml
.idea/modules.xml
.idea/modules.xml
app/src/main/res/raw/logic.json
app/src/main/res/raw/riddles.json
app/src/main/res/raw/sequences.json

